/* To have been able to use height and width specifications in percentages one first had to
   give <body> a size.*/
div#app_window {
    height: 95%;
    width: 80%;
    position: fixed;
    left: 10%;
    top: 2.5%;
    border-radius: 5px;
    background-color: #575555;
}

div.Container {
    height: 94%;
    width: 95%;
    position: relative;
    left: 2.5%;
    top: 3%;
}

div.Flex_Horizontal {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    overflow: hidden;
}

div.Horizontal_First {
    width: 60%;
}

div.Horizontal_Second {
    width: 40%;
}

p.Arial25 {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

div.Control_Button {
    border-radius: 8px;
    border: 3px solid #acacac;
    margin: 0px 10px;
    padding: 5px;
}

div#container_openpose {
    height: 94%;
    width: 95%;
    position: relative;
    left: 2.5%;
    top: 3%;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

div#fh1 {
    height: 90%;
}

div#fh2 {
    height: 10%;
}

div#landmarks_selection_section {
    border-radius: 4px;
    border: 1px solid #acacac;
    background-color: #3d3c3c;
    overflow-y: scroll;
}

div#img_counter_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#cont_button_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* object-fit will not be in relation to the size of the parent but of this element in question, which is <img>.
   For that reason height and width must be brought to the scale of the parent, if that were dimension you were looking for. */
img#reference {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div#container_transition {
    display: flex;
    justify-content: center;
    align-items: center; 
}