div#app_window {
    height: 95%;
    width: 80%;
    position: fixed;
    left: 10%;
    top: 2.5%;
    border-radius: 5px;
    background-color: #575555;
}

div#container_openpose {
    height: 94%;
    width: 95%;
    position: relative;
    left: 2.5%;
    top: 3%;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

div.Flex_Horizontal {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    overflow: hidden;
}

div.Horizontal_First {
    width: 60%;
}

div.Horizontal_Second {
    width: 40%;
}

div#flex_horizontal_1 {
    height: 90%;
}

div#flex_horizontal_2 {
    height: 10%;
}

/* object-fit will not be in relation to the size of the parent but of this element in question, which is <img>.
   For that reason height and width must be brought to the scale of the parent, if that were dimension you were looking for. */
img#img_reference {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div#settings_section {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

div#settings_buttons {
    height: 10%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.Openpose_Settings {
    height: 90%;

    border-radius: 4px;
    border: 1px solid #acacac;
    background-color: #3d3c3c;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow-y: scroll;
    align-items: center;
}

div.Landmarks_Entry, div.Render_Order_Entry {
    width: 99%;
    border: 1px solid #acacac;
    margin: 5px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    overflow: hidden;
}

div.Openpose_Settings p {
    margin: 5px 15px 5px 10px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

div#img_counter_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#cont_button_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.Control_Button {
    border-radius: 8px;
    border: 3px solid #acacac;
    margin: 0px 10px;
    padding: 5px;
}

div.Control_Button:hover {
    border: 3px solid #f19224;
    background-color: #6e615b;
}

div#container_transition {
    display: flex;
    justify-content: center;
    align-items: center; 
}

p.Arial25 {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
}

div.Control_Button p.Arial25:active {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #f19224;
}